@charset "UTF-8";
					
html {
    display: block;
	width:100vw;
	height: 100vh;
	min-height:212
}
					
body {
	padding:0px;
	width:100vw;	
	margin-left:auto;
	margin-right:auto;	
	background-attachment: scroll;
	background-color: rgb(45, 69, 72);
	background-repeat: repeat-x;
	background-position: center top;
	margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
	line-height: 1.7;
}

#line {
	width:100vw;
	height:30px;
	margin-left: auto;
    margin-right: auto;
	background-position: center top;
	background-color: rgb(102, 81, 83);
}

#content_container {

	margin-left:auto;
	margin-right:auto;	
    padding-top: 0px;
	width:100vw;
	height: 540px; 
	background-position: center top;
	background-color: rgb(164, 216, 218);
}

#logo_container {
	height:600px;
	width:100vw;	
	margin-left:auto;
	margin-right:auto;
}

#main_container {
	text-align:justify; /*значение justify растягивание текста по ширине  text-align:center;*/
	padding-top: 10px;
	color: #93e4e3;	
	height:465px;
	width:70vw;
	margin-left:auto;
	margin-right:auto;
	font-family: 'Tenor Sans', sans-serif;
	font-size:28px;
	color: rgb(95, 125, 134);
}

#logo_image {
	width:210px;
	height:200px;
	margin-left:0px;
	margin-top:0px;
	float:left;	
	background-image: url(../images/face.png);
	background-repeat: no-repeat;
	/*background-size: 100%;*/
}

#top_bar_im1 {
	margin-left: auto;
    margin-right: auto;
	background-position: center top;
	width:100vw;	
	background-image: url(../images/bg2.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;	
}

#bottom_bar {
	padding-top: 50px;
	text-align:center;
	font-size:55px;
	width:100vw;
    height: 250px;
	color: rgb(118, 149, 158);
}

.header_content_mainline { 
	text-align:center;
	padding-top: 200px;
	font-size:35px;
	color: rgb(118, 149, 158);
	width:100vw;
    height: 45px;	
	font-family: 'Tenor Sans', sans-serif;
    padding-bottom: 20px;
}

.subtitle_content{
	text-align:center;
	padding-top: 0px;
	font-size:35px;	
	color: hsla(194, 17%, 35%, 1);
	width:100vw;
    height: 45px;
	font-family: 'Tenor Sans', sans-serif;
	/*font-family: 'Prata', serif;*/
    padding-bottom: 20px;
}

#header_content_lowerline {
	text-align:center;
	font-size:35px;
	color:#FFFFFF;
	width:400px;
	font-family: 'Tenor Sans', sans-serif;
}

#header_content_lowerboxcontent {
	width:100vw;
    height: 60px;
    padding-left: 60px;
	font-size:23px;
	color: #93e4e3;
}

#im {
	width:400px;
	float:right;
	margin-left:15px;
	text-align:justify;
	display: inline-block;
}

