@charset "UTF-8";

					
html {
    display: block;
	width:100vw;
	height: 100vh;
}
					
body {
	/*margin:0px;*/
	padding:0px;
	width:100vw;	
	margin-left:auto;
	margin-right:auto;	
	background-attachment: scroll;
	background-color: rgb(45, 69, 72);
	background-repeat: repeat-x;
	background-position: center top;
	
	margin: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
	
}

#line {
	width:100vw;
	height:30px;
	margin-left: auto;
    margin-right: auto;
	background-position: center top;
	background-color: rgb(102, 81, 83);
}

#content_container {

	margin-left:auto;
	margin-right:auto;	
    padding-top: 20px;
	width:100vw;
	height: 700px;
	background-position: center top;
	background-color: rgb(164, 216, 218);
}

#logo_container {
	height:600px;
	width:100vw;	
	margin-left:auto;
	margin-right:auto;
}

#main_container { /*внизу*/

	text-align:justify; /*значение justify растягивание текста по ширине  text-align:center;*/
	padding-top: 70px;
	
	color: #93e4e3;	
	height:500px;
	width:70vw;
	margin-left:auto;
	margin-right:auto;
	font-family: 'Tenor Sans', sans-serif;
	font-size:30px;
	color: rgb(118, 149, 158);
}

#logo_image {
	width:210px;
	height:200px;
	margin-left:0px;
	margin-top:0px;
	float:left;	
	background-image: url(../images/face.png);
	background-repeat: no-repeat;
	/*background-size: 100%;*/
}

#top_bar_im1 {
	margin-left: auto;
    margin-right: auto;
	background-position: center top;
	width:100vw;	
	/*width: fit-content;*/
	background-image: url(../images/bg2.png);
	background-repeat: no-repeat;
	background-size: cover;
	
	
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;	
}

#bottom_bar {
	padding-top: 50px;
	text-align:center;
	font-size:55px;
	width:100vw;
    height: 250px;
	color: rgb(118, 149, 158);
}

.header_content_mainline { /*Это где БМБ*/

	text-align:center;
	padding-top: 200px;
	font-size:35px;
	color: rgb(118, 149, 158);
	width:100vw;
    height: 45px;	
	font-family: 'Tenor Sans', sans-serif;
	/*
	font-family: 'Alegreya Sans', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Prata', serif;
	font-family: 'Forum', cursive;
	font-family: 'Underdog', cursive;
	*/
    padding-bottom: 20px;
}

.subtitle_content{
	
	text-align:center;
	padding-top: 20px;
	font-size:35px;
	color: rgb(118, 149, 158);
	width:100vw;
    height: 45px;
	font-family: 'Tenor Sans', sans-serif;
	/*font-family: 'Prata', serif;*/
    padding-bottom: 20px;
}

#header_content_boxline {
	font-size:35px;
	color:#000000;
	width:400px;
	font-family: 'Tenor Sans', sans-serif;
}

#header_content_lowerline {
	text-align:center;
	font-size:35px;
	color:#FFFFFF;
	width:400px;
	font-family: 'Tenor Sans', sans-serif;
}

#header_content_boxcontent {
    width: 400px;
	font-size:23px;
	color:#333333;
	width: 400;
	font-family: 'Tenor Sans', sans-serif;
}

#header_content_lowerboxcontent {
	width:100vw;
    height: 60px;
    padding-left: 60px;
	font-size:23px;
	color: #93e4e3;
}

#header_content_tagline {
	margin-left:auto;
	margin-right:auto;
	background-color:RGB(24, 124, 168);
	background-size: 100%;
	font-size:18px;
	color:#ffffff;
	width:1349px;
}

#header_lower {
	width:400px;
	float:left;
	margin-right:40px;
	text-align:justify;
}

