@charset "UTF-8";

body {
    padding: 0px;
    /*background-attachment: scroll;*/ /*перемещает фон вместе с содержимым*/
    /*background-color:RGB(190, 253, 252);
	background-repeat: repeat-x;*/
    background-position: left top;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myCanvas{

    background-color: darkslategray; /*midnightblue;  /*aliceblue;*/
    /*border: 0.1px solid rgb(70, 190, 197);*/
	margin:0.1px;
	padding:0;
}